node_modules/
dist/
dist-ssr/
build/
src-tauri/target/
*.log
payment_gate.log
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
.env
.env.*
.vscode/
.git-old/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store
Thumbs.db
*.local
